*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: #000;
}

.sun{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #ffa200;
    box-shadow: 0 0 30px #fff;
    border-radius: 50%;
}

.axis1{
    position: absolute;
    height: 400px;
    width: 400px;
    border-right: 2px solid #fff;
    border-radius: 50%;
    animation: anime-1 5s linear infinite;
}

.axis1 .earth{
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: steelblue;
    border-radius: 50%;
    left: 180px;
    top: 370px;
}

.axis2{
    position: absolute;
}

@keyframes anime-1 {
    0%{transform:rotate(0deg)};
    100%{transform:rotate(360deg)};
}